@model IEnumerable<StarFood.Models.Producto>

@{
    ViewData["Title"] = "Productos Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="rounded-box">
        <!-- SearchBox and AddButton -->
        <div class="row mb-3 align-items-center">
            <div class="col-md-10">
                <form class="d-flex" method="get" asp-action="Index">
                    <input class="form-control me-2" type="search" placeholder="Buscar por nombre" aria-label="Buscar" name="searchString">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>
        </div>
        <!-- Buttons Row -->
        <div class="row mb-3 text-center">
            <div class="col-md-4">
                <a class="btn btn-outline-success w-100" asp-action="Create">Crear</a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-outline-warning w-100" asp-action="Edit">Editar</a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-outline-danger w-100" asp-action="Delete">Borrar</a>
            </div>
        </div>
        <hr />
        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Nombre)</th>
                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Categoria.Nombre)</th>
                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().PrecioCosto)</th>
                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().CantidadExistente)</th>
                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().PrecioVenta)</th>
                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().UnidadMedida)</th>
                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().FechaCaducidad)</th>
                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().FechaCompra)</th>
                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Proveedor.Contacto)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                            <td>@Html.DisplayFor(modelItem => item.Categoria.Nombre)</td>
                            <td>@Html.DisplayFor(modelItem => item.PrecioCosto)</td>
                            <td>@Html.DisplayFor(modelItem => item.CantidadExistente)</td>
                            <td>@Html.DisplayFor(modelItem => item.PrecioVenta)</td>
                            <td>@Html.DisplayFor(modelItem => item.UnidadMedida)</td>
                            <td>@Html.DisplayFor(modelItem => item.FechaCaducidad)</td>
                            <td>@Html.DisplayFor(modelItem => item.FechaCompra)</td>
                            <td>@Html.DisplayFor(modelItem => item.Proveedor.Contacto)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>