<head>
        <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap Bundle (incluye Bootstrap JS) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- DataTables JS -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
    <link rel="stylesheet" href="~/css/_sidebar.css"/>

</head>


<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark sidebar">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/Home/Index" id="inicio-link" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline"><h1 class="sidebar-title">StarFood</h1></span>
                </a>

                <div id="sidebar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Home")" class="nav-link @(isActive("Home", "Index")) align-middle px-0">
                                <i class="fs-4 bi bi-house-door"></i> <span class="ms-1 d-none d-sm-inline">Inicio</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-list-task"></i> <span class="ms-1 d-none d-sm-inline">Inventario</span>
                            </a>
                            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#sidebar-menu">
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Category")" class="nav-link @(isActive("Category", "Index")) align-middle px-0">
                                        <i class="fs-4 bi bi-collection"></i></i> <span class="ms-1 d-none d-sm-inline">Categorías</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Product")" class="nav-link @(isActive("Product", "Index")) align-middle px-0">
                                        <i class="fs-4 bi bi-basket"></i> <span class="ms-1 d-none d-sm-inline">Productos</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Dish")" class="nav-link @(isActive("Dish", "Index")) align-middle px-0">
                                        <i class="fs-4 bi bi-egg-fried"></i> <span class="ms-1 d-none d-sm-inline">Productos</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Supplier")" class="nav-link @(isActive("Supplier", "Index")) px-0 align-middle">
                                <i class="fs-4 bi bi-person-bounding-box"></i> <span class="ms-1 d-none d-sm-inline">Proveedores</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Order")" class="nav-link @(isActive("Order", "Index")) px-0 align-middle">
                                <i class="fs-4 bi bi-arrow-bar-up"></i> <span class="ms-1 d-none d-sm-inline">Ordenes</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Bill")" class="nav-link @(isActive("Bill", "Index")) px-0 align-middle">
                                <i class="fs-4 bi-file-earmark-text"></i> <span class="ms-1 d-none d-sm-inline">Facturas</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "OrderDetail")" class="nav-link @(isActive("OrderDetail", "Index")) px-0 align-middle">
                                <i class="fs-4 bi bi-truck"></i> <span class="ms-1 d-none d-sm-inline">Ordenes de Encargos</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Order/Index" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/User/Index" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Usuarios</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <hr>
                <div class="dropdown pb-4">
                    <a href="/#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">loser</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        @await Html.PartialAsync("_LoginPartial")
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@functions {
    // Función para verificar y agregar la clase "active" si la página actual coincide
    public string isActive(string controller, string action = null)
    {
        string currentController = ViewContext.RouteData.Values["Controller"].ToString();
        string currentAction = ViewContext.RouteData.Values["Action"].ToString();

        // Si tanto el controlador como la acción coinciden, agregamos la clase "active"
        if (controller == currentController && (action == null || action == currentAction))
        {
            return "active";
        }
        return "";
    }
}