@model StarFood.Models.Factura

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Factura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Orden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Orden.IDOrden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaVenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalVenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetodoPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetodoPago.NombreMetodoPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadCambio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadCambio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IDFactura">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
